.navbar-brand {
    padding-left: 1rem;
    font-size: 1.6rem !important ;
    color: #f16c63 !important;
  }
  .menu_active {
    font-weight: bold;
    color: #07611b !important;
    border-bottom: 5px solid #f37f70;
  }
  .navbar a:hover {
    color: chocolate !important;
  }
  .usestate{
      margin-top: 150px;
    display: grid;
    place-items: center;
  }
  .buttons{
      display: flex;
      margin-bottom: 40px;
  }
  .btn1 {
    margin-left: 10px;
    height: 100px;
    width: 150px;
    outline-width: 0;
    border: none;
    display: block;
    background: linear-gradient(
      rgb(230, 139, 139),
      rgb(235, 128, 128),
      rgb(248, 166, 166)
    );
    color: rgb(13, 14, 8);
    border-radius: 5px;
    font-size: 25px;
  }
.form{
    margin-top: 150px;
    display: grid;
    place-items: center;
    flex-direction: column;
    width: 100%;
   
}
.form > input{
width: 50%;
margin-top: 20px;
padding: 10px;
color:#352e2c;
border: 2px solid #f7928a;
border-radius: 5px;
font-style: bold;
}